*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.hover{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/**Box-2**/
.address-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**Box-3**/
.nav-search{
    display: flex;
    background-color: palevioletred;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(228, 178, 15);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/**Box-4**/
.region{
    display: flex;
    background-color: #0f1111;
    justify-content: center;
}
.region-icon img{
    height: 1.3rem;
    width: 1.4rem;
    margin-right: 5px;
}
.region-select select{
    background-color: #0f1111;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/**Box-5**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.;
    font-weight: 700;
}
/**Box-6**/
.nav-cart i{
    width: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**Panel**/
.panel-all{
    display: flex;
}
.panel-all p{
    margin-left: 10px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero**/
.hero-section{
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 330px;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185; 
}
/**Box**/
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e2e2;
}
.box{
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1 rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
/**Footer**/
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
button{
    background-color: #37475a;
    border: none;
}
.foot-panel{
    display:inline-block;

}
.foot-panel2{
    background-color: #151b1b;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p{
    font-weight: 700;
    margin-bottom: 15px;
}
ul{
    margin-top: 50px;
}
ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    margin-top: 0.7rem;
}
.foot-panel3{
    background-color: #151b1b;
    color: white;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    background: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: black;
    color: white;
    height: 70px;
   font-size: 0.7rem;
   text-align: center;
}
.foot-panel4 a{
    color: white;
    text-decoration: none;
    padding-left: 0.6rem;
}
.pages{
   padding-top: 25px;
}
.copyright{
    padding-top: 7px;
}